{% extends "index.html" %}

{% block content %}
<section class="mb-5">
        <div class="card bg-light">
            <div class="card-body">
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">Вход на PostDesk</h1>
                   <form method="post" action="{% url 'login' %}">
                       {% csrf_token %}
                       <table>
                           <tr>
                               <td>{{ form.username.label_tag }}</td>
                               <td>{{ form.username }}</td>
                               </tr>
                           <tr>
                               <td>{{ form.password.label_tag }}</td>
                               <td>{{ form.password }}</td>
                               </tr>
                           </table>
                       <input class="btn btn-primary" type="submit" value="Войти"><button class="btn btn-outline-info"> <a href="/sign/signup"> Регистрация </a></button>
                   </form>
                </header>
            </div>
        </div>
    </section>
{% endblock %}